# dependencies
node_modules/

# Next.js
.next/
out/

# production
build/
dist/

# env files — ne jamais commiter les clés
.env
.env.local
.env.production
.env.*.local

# Vercel
.vercel

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts
